.signup-page {
   width: 100%;
   min-height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 360px) {
  .signup-page {
    /* height: 100vh; */
    padding: 0px 12px;
  }
}
