/* Contact Section */
.contact-container {
    width: 100%;
    min-height: 100vh;
}

.contact-section {
    width: 100%;
    border-top: 2px solid #ff7f00; /* Replace customOrange */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.contact-header {
    text-align: center;
    margin: 20px 0;
    padding: 20px 16px;
}

.contact-title {
    font-size: 32px;
    font-weight: 700;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-description {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

/* Ensure Parent Wrapper Centers the Child */
.contact-form-wrapper {
    width: 100%; /* Full width of the parent */
    max-width: 100%; /* Prevent unintentional shrinking */
    display: flex;
    justify-content: center; /* Center child horizontally */
    padding: 9px 58px;
}

/* Media Queries */

/* Styles for devices between 1024px and 1366px */
@media (min-width: 1024px) and (max-width: 1366px) {
    .contact-form-wrapper {
        padding: 9px 48px; /* Adjust padding for mid-sized screens */
    }
}

/* Styles for devices smaller than 768px */
@media (max-width: 768px) {
    .contact-form-wrapper {
        padding: 9px 25px; /* Narrower padding for smaller screens */
    }
}

/* Styles for devices 768px and larger */

