.custom-select {
    position: relative;
    width: 100%;
    min-height: 59px;
    font-family: Noto Sans;
    
  }
  
  .select-label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: var(--text-color);
    
    display: none;
  }
  
  .select-header {
    width: 100%;
    min-height: 59px;
    height: 100% !important;
    border-radius: 12px;
    background-color: var(--input-bg-color);
    padding: 15px 40px  4px 23px;
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .select-header.open {
    
    
  }
  
  .select-value {
    color: #333;
  }
  
  .arrow {
    border: solid #666;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transition: transform 0.2s ease;
  }
  
  .arrow.down {
    transform: rotate(45deg);
  }
  
  .arrow.up {
    transform: rotate(-135deg);
  }
  
  .options-container {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #e0e0e0;
    border-top: none;
    border-radius: 12px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0px 6px 18px 0px rgba(66, 74, 83, 0.12);

  }
  
  .option {
    padding: 12px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #333;
    font-size: 14px;
    font-family: Noto Sans;
    font-weight: 500;
    color: var(--text-color);
  }
  
  .option:hover {
    background-color: #f5f5f5;
  }
  
  .option.selected {
    /* background-color: #f8f8f8; */
  }
  .option.not-selected{
    padding-left: 40px;
  }
  
  .checkmark {
    color: #666;
    font-size: 14px;
  }
  
  .custom-select.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .custom-select.disabled .select-header {
    pointer-events: none;
  }
  
  /* Custom scrollbar */
  .options-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .options-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .options-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  .options-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  