:root {
    /* --primary-color: rgba(58, 117, 196, 1); */
    --primary-color:  #630F7F;
    --secondary-color: #2ecc71;
    --text-color: rgba(102, 102, 102, 1);
    --input-bg-color: #F9FAFA;
    --input-font-size: 14px;
    --input-font-weight: 500;
  }
  
  .wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .portfolio-container {
    
  
    max-width: 90%;
    margin: 0 auto;
    /* maybe you change margin bottom to 50px */
    margin-bottom: 100px;
    
    gap: 24px;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.portfolio-title-container-pagination{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 1206px;
}
.portfolio-title-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;

    .portfolio-title-description{
        color: var(--text-color);
        font-family: Noto Sans;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }

    .portfolio-title{
        color: rgb(102, 102, 102);
        font-family: Noto Sans;
        font-size: 20px;
        font-weight: 500;
        line-height: 27.24px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .portfolio-title-2{
        font-family: Noto Sans;
        font-size: 34px;
        font-weight: 500;
        text-align: center;
        color: #121212;

        
    }
}

.portfolio-form-step-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    width: 100%;
}
.portfolio-form-step-1-container1 , 
.portfolio-form-step-1-container2,
.portfolio-form-step-1-container3,
.portfolio-form-step-1-container4
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 1206px;
    /* padding: 25px 0px 0px 0px; */
    .portfolio-form-step-container-left ,
    .portfolio-form-step-container-right
    {
        /* outline: 1px solid green; */
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        
        .input-field{
            width: 100%;
            padding: 1px 10px;
            
            
        }
        label,option{
            position: absolute;
            width: 100%;
            top: 9%;
            left: 24px;
            font-size: 12px;
            color: var(--text-color);
            font-family: Noto Sans;
            font-weight: 600;
            transition: 0.2s ease all;
            pointer-events: none;
            z-index: 500;
        }
        input,select{
            width: 100%;
            height: 59px;
            border-radius: 12px;
            border: 1px solid rgba(210, 210, 210, 1);
            background-color: var(--input-bg-color);
            padding: 15px 40px 10px 24px;
            font-size: var(--input-font-size);
            font-weight: var(--input-font-weight);
            outline: none;
            border: none;
            
            font-family: Noto Sans;
        }
        span{
            position: absolute;
      top: 35%;
      right: 30px;
      font-size: 15px;
  }
    }
}
/* Reference Container start row-1*/
    .reference-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        position: relative;
        
        .input-field{
            width: 100%;
            padding: 1px 10px;
            
            
        }
        label,option{
            position: absolute;
            width: 100%;
            top: 9%;
            left: 24px;
            font-size: 12px;
            color: var(--text-color);
            font-family: Noto Sans;
            font-weight: 600;
            transition: 0.2s ease all;
            pointer-events: none;
        }
        input,select{
            width: 100%;
            height: 59px;
            border-radius: 12px;
            border: 1px solid rgba(210, 210, 210, 1);
            background-color: var(--input-bg-color);
            padding: 15px 40px 10px 24px;
            font-size: var(--input-font-size);
            font-weight: var(--input-font-weight);
            outline: none;
            border: none;
            
            font-family: Noto Sans;
        }
    }
    .reference-right{
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        
        .input-field{
            width: 100%;
            padding: 1px 10px;
            
            
        }
        label,option{
            position: absolute;
            width: 100%;
            top: 9%;
            left: 24px;
            font-size: 12px;
            color: var(--text-color);
            font-family: Noto Sans;
            font-weight: 600;
            transition: 0.2s ease all;
            pointer-events: none;
        }
        input,select{
            width: 100%;
            height: 59px;
            border-radius: 12px;
            border: 1px solid rgba(210, 210, 210, 1);
            background-color: var(--input-bg-color);
            padding: 15px 40px 10px 24px;
            font-size: var(--input-font-size);
            font-weight: var(--input-font-weight);
            outline: none;
            border: none;
            
            font-family: Noto Sans;
        }
    }
/* Reference Container end*/
.portfolio-form-step-container{
  
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 1206px;
    
    .portfolio-form-step-container-left ,
    .portfolio-form-step-container-right
    {
        
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        /* margin and padding removed */
        .input-field{
            width: 100%;
            padding: 1px 10px;
            
            
        }
        label,option{
            position: absolute;
            width: 100%;
            top: 9%;
            left: 24px;
            font-size: 12px;
            color: var(--text-color);
            font-family: Noto Sans;
            font-weight: 600;
            transition: 0.2s ease all;
            pointer-events: none;
            z-index: 500;
        }
        input,select{
            width: 100%;
            height: 59px;
            border-radius: 12px;
            border: 1px solid rgba(210, 210, 210, 1);
            background-color: var(--input-bg-color);
            padding: 15px 40px 10px 24px;
            font-size: var(--input-font-size);
            font-weight: var(--input-font-weight);
            outline: none;
            border: none;
            
            font-family: Noto Sans;
        }
        span{
            position: absolute;
      top: 35%;
      right: 30px;
      font-size: 15px;
  }
  /* span{position: absolute;
    top: 35%;
    right: 30px;
    font-size: 15px;
    z-index: 0;
    background:transparent;
} */
    }
    .portfolio-form-step-container-right.responsive-hight-select-container{
        /* outline: 1px solid red; */
        max-height: fit-content;
        .select-header{
         /* outline: 1px solid red; */
         padding-top: 30px;
        }
    }
}



#street-address{
  gap: 24px;
}
/* container 3 */
.portfolio-form-step1-area-code
{  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 15%;
        position: relative;
        
        padding: 2px;
        label{
            position: absolute;
            top: 9%;
            left: 24px;
            font-size: 12px;
            color: var(--text-color);
            font-family: Noto Sans;
            font-weight: 600;
            transition: 0.2s ease all;
            pointer-events: none;
            z-index: 500;
        }
        select{
            width: 100%;
            height: 59px;
            border-radius: 12px;
            border: 1px solid rgba(210, 210, 210, 1);
            padding: 15px 40px 10px 24px;
            font-size: var(--input-font-size);
            font-weight: var(--input-font-weight);
            outline: none;
            border: none;
            font-family: Noto Sans;
            background-color: var(--input-bg-color);
    
        }
        span{
            position: absolute;
            top: 35%;
            right: 30px;
            font-size: 15px;
        }
    
}
.portfolio-form-step1-phone-number
{ 
        
        width: 30%;
        position: relative;
        padding: 2px;
        .edit-phone-area-code {
            position: absolute;
            top:23%;
            right: 24px;
            font-size: 15px;
            color:rgba(0, 203, 132, 1);
            width: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: Noto Sans;
            font-weight: 200;
            text-underline-position: from-font;
            text-decoration-skip-ink: none; 

        }
        label{
            position: absolute;
            top: 9%;
            left: 24px;
            font-size: 12px;
            color: var(--text-color);
            font-family: Noto Sans;
            font-weight: 600;
            transition: 0.2s ease all;
            pointer-events: none;
        }
        input{
            width: 100%;
            height: 59px;
            border-radius: 12px;
            border: 1px solid rgba(210, 210, 210, 1);
            padding: 15px 40px 10px 24px;
            font-size: var(--input-font-size);
            font-weight: var(--input-font-weight);
            outline: none;
            border: none;
            font-family: Noto Sans;
            background-color: var(--input-bg-color);
        }

}
.portfolio-form-step1-country
{  
  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        position: relative;
        
        padding: 2px;
        label{
            position: absolute;
            top: 9%;
            left: 27px;
            font-size: 12px;
            color: var(--text-color);
            font-family: Noto Sans;
            font-weight: 600;
            transition: 0.2s ease all;
            pointer-events: none;
            z-index: 500;
        }
        select{
            width: 100%;
            height: 59px;
            border-radius: 12px;
            border: 1px solid rgba(210, 210, 210, 1);
            padding: 15px 40px 10px 24px;
            font-size: var(--input-font-size);
            font-weight: var(--input-font-weight);
            outline: none;
            border: none;
            font-family: Noto Sans;
            background-color: var(--input-bg-color);

        }
        span{position: absolute;
            top: 35%;
            right: 30px;
            font-size: 15px;
            z-index: 0;
            background:transparent;
        }
    
}
/* pagination */
.portfolio-pagination {
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    width: 100%;
    
    margin: 0 auto;
    gap: 21px;
    padding: 20px 0px;
  }
.pagination-step {
  cursor: pointer;
  text-align: center;
  width: 100%;
}


.pagination-step.completed {
  color: var(--primary-color)
}

.pagination-step.current {
  color: var(--primary-color);
  font-weight: 600;
}

.pagination-step:hover {
  color: var(--primary-color)
}

.pagination-line {
  width: 40%; 
  height: 2px; 
  background-color: rgba(44, 44, 46, 0.5);
  align-self: center;   
}


/* maybe */
.button-container-portfolio {
    display: flex;
    gap: 20px;
    
    
    

}

/* Back Button Styles */
.back-button-portfolio {
    width:100%;
    height: 51px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-family: Noto Sans;
    font-weight: 600;
    /* background-color: rgba(242, 242, 242, 1); Light Grey Background */
    color: rgba(153, 153, 153, 1); /* Grey Text */
    background-color: #9EA1AB1A;
    border: 1px solid #9EA1AB33;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.back-button-active{
  color:var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: #fff;
}

.back-button:disabled {
    background-color: rgba(242, 242, 242, 1); /* Disabled Light Grey */
    color: rgba(204, 204, 204, 1); /* Lighter Grey Text */
    cursor: not-allowed;
}
.back-button:not(:disabled){
  color:var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: #fff;
}

/* Next & Submit Button Styles */
.portfolio-next-button,
.portfolio-submit-button {
    width: 100%;
    height: 51px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-family: Noto Sans;
    font-weight: 600;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.portfolio-next-button:hover,
.portfolio-submit-button:hover {
    background-color:var(--primary-color) /* Darker Orange on Hover */
}

/* Arrow Icon Styling */
.next-button::after,
.submit-button::after {
    font-size: 36px;
    text-align: center;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.back-button-portfolio::before {
    padding-right: 8px;
}

/* step-2 */
.portfolio-form-step-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1206px;
    gap: 24px;
    span{
        position: absolute;
        right: 0px;
        left: 30px;
        top: 10px;
    }
}

.portfolio-form-step-2-container1,
.portfolio-form-step-2-container2,
.portfolio-form-step-2-container3,
.portfolio-form-step-2-container4,
.portfolio-form-step-2-container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 1206px;
    padding: 25px 0px 0px 0px;
}
.business-logo-container{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: flex;

    flex-direction: column;

    
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    
    background-color: var(--input-bg-color);
    position: relative;
    

    .placeholder-img-div{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .file-input-container{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                width: 100%;
                height: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: transparent;
            }:hover{
                background-color: transparent;
            }
            
        }
        
    }
    
   

}
/* ! added css for logo preview */
.logo-preview {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .logo-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .placeholder {
    color: #888;
  }
  
  .options-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  
  
  .file-input {
    display: none;
  }
  
  .file-input-button {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .file-input-button:hover {
    background-color: #f0f0f0;
  }
  
  .pencil-icon {
    margin-left: 5px;
  }
  
  .remove-button {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .remove-button:hover {
    background-color: #f0f0f0;
  }
/* ! end of added css for logo preview */


.portfolio-form-step-2-container1-right {
    width: 100%;
    position: relative;
    
}

.portfolio-form-step-2-container2-left,
.portfolio-form-step-2-container2-right,
.portfolio-form-step-2-container3-left,
.portfolio-form-step-2-container3-right,
.portfolio-form-step-2-container4-left,
.portfolio-form-step-2-container4-right,
.portfolio-form-step-2-container5-left,
.portfolio-form-step-2-container5-right {
    width: 100%;
    position: relative;
    
    
}

.portfolio-form-step-2 label {
    position: absolute;
    top: 9%;
    left: 24px;
    font-size: 12px;
    color: var(--text-color);
    font-family: Noto Sans;
    font-weight: 600;
    transition: 0.2s ease all;
    pointer-events: none;
}

.portfolio-form-step-2 input,
.portfolio-form-step-2 select {
    width: 100%;
    height: 59px;
    border-radius: 12px;
    border: 1px solid rgba(210, 210, 210, 1);
    background-color: #fff;
    padding: 15px 40px 10px 24px;
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);
    outline: none;
    border: none;
    font-family: Noto Sans;
    appearance: none;
}

.portfolio-form-step-2-container6 {
    width: 100%;
    padding: 25px 0px 0px 0px;
}

.portfolio-form-step-2-container6-left {
    width: 100%;
    position: relative;
    
    margin: 0;
    padding: 0;
    padding-bottom: 0px !important;

    label{
        position: absolute;
        top: 9%;
        left: 27px;
        font-size: 12px;
        color: var(--text-color);
        font-family: Noto Sans;
        font-weight: 600;
        transition: 0.2s ease all;
        pointer-events: none;
        font-family: Noto Sans;
        font-size: 12px;
        font-weight: 600;
        line-height: 16.34px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #666666;
        
    }

}

.portfolio-form-step-2-container6-left textarea {
    width: 100%;
    margin: 0;
    margin-bottom: 0px !important;
    padding: 0;
    border-radius: 12px;
    padding: 26px 40px 10px 27px;
    background-color: var(--input-bg-color);
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);
    border:none;
    outline: none;
}

.social-media-children-container{
    margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* social media */
#social-media-container-width{
  margin: 0 auto;
}
/* File input specific styles */
.file-input-container {
    position: relative;
    cursor: pointer;
}

.file-input-container input[type="file"] {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.social-media-container,
.vendore-reference-container{
  width: 100%;
}
.get-form-responsive-width{
  margin: 0 auto;
}
.social-media-header-container,.reference-header-container{
  .social-media-header,.reference-header{
    span{
      
      position: relative;
      top: 2px;
    }
      font-family: Noto Sans;
      font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #121212;

  }

}
.social-media-handle-button-container{
    
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 90%;
  button{
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.07px;
    text-align: left;
    display:inline-flex;
    align-items: center;
    outline:none;
    border:none;
    background:transparent;
    gap: 8px;
  }
}
.reference-add-button-container{
    /* outline: 1px solid red; */
    width: 100%;
    margin:0px !important;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    
    button{
        outline:none;
        border:none;
        background:rgba(218, 214, 235, 0.6);
        padding:8px 16px;
        border-radius: 4px;
        font-family: Noto Sans;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color:rgba(18, 18, 18, 1);
        max-width: 210px;
    }
}
.reference-header-container{
  margin-bottom: 20px;
}

#references-container{
    
  display: flex;
  flex-direction: column;
}
.remove-margin-x{
    
  /* margin-left: 0px !important; */
  margin-right: 0px !important;

}

/* Reference Container end row-1*/
.reference-form-container-full-width,
#reference-form-row-1,
#reference-form-row-2,
#reference-form-row-3{
    width: 100% !important;
    display: flex;
    
    gap: 20px;
        .portfolio-form-step-container-left ,
        .portfolio-form-step-container-right
            {
                
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                position: relative;
                /* margin and padding removed */
                .input-field{
                    width: 100%;
                    padding: 1px 10px;
                    
                    
                }
                label,option{
                    position: absolute;
                    width: 100%;
                    top: 9%;
                    left: 24px;
                    font-size: 12px;
                    color: var(--text-color);
                    font-family: Noto Sans;
                    font-weight: 600;
                    transition: 0.2s ease all;
                    pointer-events: none;
                }
                input,select{
                    width: 100%;
                    height: 59px;
                    border-radius: 12px;
                    border: 1px solid rgba(210, 210, 210, 1);
                    background-color: var(--input-bg-color);
                    padding: 15px 40px 10px 24px;
                    font-size: var(--input-font-size);
                    font-weight: var(--input-font-weight);
                    outline: none;
                    border: none;
                    
                    font-family: Noto Sans;
                }
                span{
                    position: absolute;
            top: 35%;
            right: 30px;
            font-size: 15px;
        }
            }
}

.reference-form-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 20px;
}

/* footer */
.signup-footer-text-portfolio{
  font-family: Noto Sans;
  font-size: 14px;
  font-weight: 600;
  color: #2c2c2e;
  
}
.signup-footer-text-login-portfolio{
  color: var(--primary-color);
}
/* Responsive Design */
@media screen and (min-width: 1200px) {
  .get-form-responsive-width,
    .portfolio-container,
    .portfolio-title-container-pagination,
    .portfolio-title-container,
    .portfolio-form-step-1-container1,
    .portfolio-form-step-1-container2,
    .portfolio-form-step-1-container3,
    .portfolio-form-step-1-container4,
    .portfolio-form-step-2,
    .button-container-portfolio,
    .portfolio-form-step-container,
    .portfolio-pagination
    {
        width: 95%;
        max-width: 95%;
    }
    
}

@media (max-width: 1200px) {
    .get-form-responsive-width,
    .portfolio-container,
    .portfolio-title-container,
    .portfolio-form-step-1-container1,
    .portfolio-form-step-1-container2,
    .portfolio-form-step-1-container3,
    .portfolio-form-step-1-container4,
    .portfolio-form-step-2,
    .button-container-portfolio,
    .portfolio-form-step-container
     {
        width: 90%;
    }

    .portfolio-form-step-container-left,
    .portfolio-form-step-container-right {
        width: 48%;
    }
    .portfolio-pagination{
        width: 90% !important;
        
      }
    
}

@media (max-width: 992px) {
    .get-form-responsive-width,
    .portfolio-container,
    .portfolio-form-step-1-container1,
    .portfolio-form-step-1-container2,
    .portfolio-form-step-1-container3,
    .portfolio-form-step-1-container4,
    .button-container-portfolio,
    .portfolio-form-step-container
    {
        width: 90%;
        flex-direction: column;

    }
    .portfolio-pagination{
      width: 90%;
    }
    .reference-form-container-full-width,
#reference-form-row-1,
    #reference-form-row-2,
    #reference-form-row-3{
        flex-direction: column;
    }
    .reference-left,.reference-right{
        width: 100%;
    }
    .portfolio-form-step-container-left,
    .portfolio-form-step-container-right {
        width: 100%;
    }

    .portfolio-form-step1-area-code,
    .portfolio-form-step1-phone-number,
    .portfolio-form-step1-country {
        width: 100%;
    }
    .portfolio-form-step1-phone-number {
        width: 100%;
    }

    .portfolio-form-step-2-container1 {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 20px 0;
    }

    .portfolio-form-step-2-container1-left {
        width: 165px;
        margin: 0 auto;
    }

    .portfolio-form-step-2-container1-right {
        width: 100%;
    }
    
}

@media (max-width: 768px) {
    .portfolio-container {
        width: 90%;
        padding: 1rem 0;
    }
    .portfolio-title-container{
      .portfolio-title-2{
        font-size: 24px;
      }
      .portfolio-title-description{
        font-size: 12px;
        /* outline: 1px solid red; */
      }
    }

    .portfolio-form-step-1-container3 {
        flex-direction: column;
        gap: 20px;
    }

    .portfolio-form-step1-area-code,
    .portfolio-form-step1-phone-number,
    .portfolio-form-step1-country {
        width: 100%;
    }

    .portfolio-pagination {
        width: 95%;
        font-size: 14px;
    }

    
}

@media (max-width: 576px) {
    .portfolio-container {
        width: 100%;
    }

    .button-container-portfolio {
        flex-direction: column;
        gap: 15px;
    }

    .portfolio-title-2 {
        font-size: 24px;
        line-height: 32px;
    }

    input, select {
        padding: 12px 15px 8px 15px;
    }
}

@media (max-width: 480px) {
    .portfolio-container {
        width: 100%;
        
    }

    .portfolio-pagination {
        width: 100%;
        font-size: 12px;
        gap: 8px;
    }

    .portfolio-title-2 {
        font-size: 20px;
        line-height: 28px;
    }
}

@media screen and (min-width: 1200px)  {
  .get-form-responsive-width,
    .portfolio-title-container-pagination,
    .portfolio-title-container,
    .portfolio-form-step-1-container1,
    .portfolio-form-step-1-container2,
    .portfolio-form-step-1-container3,
    .portfolio-form-step-1-container4,
    .portfolio-form-step-2,
    .button-container-portfolio,
    .portfolio-form-step-container
    {
        width: 95%;
        max-width: 95%;
    }
    .social-media-handle-button-container{
      width: 95%;
    }
    
    
}

