
/* Back Button Styles */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8px;
    background-color: #fff;
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        span{
            position: relative;
            top: 2px;

           
        }
    }
}

.signup-back-button {
        width: 49%;
        height: 51px;
        border: none;
        border-radius: 12px;
        font-size: 16px;
        font-family: Noto Sans;
        font-weight: 600;
        color: rgba(153, 153, 153, 1); 
        cursor: pointer;
        transition: background-color 0.2s ease;
    }
    
    .signup-back-button:disabled {
        background-color: rgba(242, 242, 242, 1);
        color: rgba(204, 204, 204, 1); 
        cursor: not-allowed;
    }
    .signup-back-button:not(:disabled){
      color: rgba(255, 130, 20, 1);
      border: 1px solid rgba(255, 130, 20, 1);
      background-color: #fff;
    }
    
    
    .signup-next-button,
    .submit-button {
        width: 49%;
        height: 51px;
        border: none;
        border-radius: 12px;
        font-size: 16px;
        font-family: Noto Sans;
        font-weight: 600;
        background-color: rgba(255, 130, 20, 1); 
        color: #fff; 
        cursor: pointer;
        transition: background-color 0.2s ease;
        outline: none;
    }
    
    .signup-next-button:hover,
    .submit-button:hover {
        background-color: rgba(230, 115, 18, 1); 
    }
    
    .signup-next-button::after,
    .submit-button::after {
        font-size: 36px;
        text-align: center;
        display: flex;  
        align-items: center;
        justify-content: center;
    }
    
    .signup-back-button::before {
        padding-right: 8px;
    }
    
    @media  screen and (max-width:370px) {
        .submit-button{
            font-size: 14px;
        }
    }